<!doctype html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <form id="login" action="">
      <input id="nick" autocomplete="off" placeholder="<%= __('placeholder.user') %>"/>
      <button><%= __('label.send') %></button>
      <p id="login-error"></p>
    </form>
    
    <div id="xat-grid" style="display:none">
      <div id="content">
        <ul id="messages"></ul>
        <ul id="users"></ul>
      </div>
      <form id="xat" action="">
        <input id="nick-color" type="color" value="#ff0000" />
        <input id="message" autocomplete="off" placeholder="<%= __('placeholder.message') %>"/>
        <button><%= __('label.send') %></button>
      </form>
    </div>
    
    <div id="chat-image" class="modal">
      <img class="modal-content">
    </div>
    
    <script type="text/javascript">
      let connectMessage = '<%= __('message.connect') %>',
        disconnectMessage = '<%= __('message.disconnect') %>',
        userConnected = '<%= __('message.user.connected') %>', //TODO remove
        userDisconnected = '<%= __('message.user.disconnected') %>'; //TODO remove
    </script>
    <% include partials/scripts %>
  </body>
</html>